@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Sagonne</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap-datetimepicker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Sagonne.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/cc1876972d.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sagonne</a>
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Portofolio">Portofolio</a>
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Trombinoscope">Trombinoscope</a>
                @if((await AuthorizationService.AuthorizeAsync(User,"IsAdmin")).Succeeded){
                    
                    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Administration">Administration</a>
                }
                <a class="text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">Déconnexion</a>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--<footer class="border-top footer text-muted">
    </footer>-->
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
            crossorigin="anonymous"></script>
    <script src="~/js/moment-with-locales.min.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-datetimepicker.min.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    <script src="~/locales/bootstrap-datepicker.fr.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
