@{
    ViewData["Title"] = "Home Page";
}
@model FileUploadModel
<div class="row">
    <div class="col-xs-6">
        <form method="post" asp-controller="Home" asp-action="FileUpload" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" id="Files" name="Files" multiple />
                <input type="submit" />
            </div>
        </form>
    </div>
</div>
@if (!string.IsNullOrEmpty(Model.Phrase))
{
    <div class="row">
        <div class="col-xs-6">
            @Model.Phrase
        </div>
    </div>
}