@{
    ViewData["Title"] = "Home Page";
}
@model PhotoAnneeModel
<div class="row">
    @foreach (KeyValuePair<string, string> Annee in Model.Photos)
    {
        <a href="Photo?Photo=@Annee.Value">
            <br />
            <img class="imgPortofolio" src="@Annee.Value" />
        </a>
    }
</div>