@{
    ViewData["Title"] = "Home Page";
}
@model PortofolioModel
<div class="row">
    <div class="col-xs-6">
        @foreach(KeyValuePair<string,string> Annee in Model.Annees){
            <img src="@Annee.Value"/>
            <p>@Annee.Key</p>
        }
    </div>
</div>