@{
    ViewData["Title"] = "Trombinoscope";
}
@model TrombinoscopeModel


@*Basculer sur des card de bootstrap*@


<div class="row">
    @foreach(KeyValuePair<string,string> Personne in Model.Personnes)
    {
        <div class="card">
            <img class="imgPortofolio" src="@Personne.Value" />
            <div class="card-body">
                <h5 class="card-title">@Personne.Key</h5>
            </div>
        </div>
    }
</div>